/*
<!-- Last updated 28.04.24
© Copyright John Kenneth Steinnes 2024-->   

 logo text farge    #f3a33c      */

 :root {
    --initial-opacity: 0;
    --final-opacity: 1;
    --initial-scale: 0.95;
    --final-scale: 1;
}
  
html, body {
 scroll-behavior: smooth;
}

body {
    background-color: snow;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/* .blurred {
    filter: blur(5px);
}  */

/* ↓ Code for the nav-bar on top of website ↓ */

.header-main { 
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: 0 6px 6px -6px #58585886;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1900px;
}

.nav-box {
    margin-right: auto;
    margin-left: 0;
}

.nav-bar a {
    margin: 15px;
    text-decoration: none;
}

.nav-bar-item,
.sidebar-item,
.nav-bar-item-menu,
.sidebar-item-menu {
    color: #4e4d4d;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.not-touch-device .nav-bar-item:hover,
.not-touch-device .sidebar-item:hover,
.not-touch-device .menu-text-arrow:hover,
.not-touch-device .sidebar-text-arrow:hover,
.not-touch-device .sidebar-text-arrow svg:hover,
.not-touch-device .nav-bar-item-menu a:hover,
.not-touch-device .sidebar-item-menu a:hover {
    fill: #b32e31;
    color: #b32e31;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: color 300ms ease, fill 300ms ease;
}

/* Active styles for touch devices when you click an item it pulses the color*/
.touch-device .nav-bar-item:active,
.touch-device .menu-text-arrow:active,
.touch-device .sidebar-text-arrow:active,
.touch-device .sidebar-text-arrow svg:active,
.touch-device .nav-bar-item-menu a:active,
.touch-device .sidebar-item-menu a:active,
.touch-device .sidebar-item:active {
    fill: #b32e31;
    color: #b32e31;
}

.sidebar,
.sidebar-dropdown-content {
    display: none;
}

.sidebar-item:nth-child(1) {
    font-weight: bold;
    color: #b32e31;
}


.dropdown-content {
    margin-left: -10px;
    top: 85%;
    display: block;
    background-color: white;
    text-align: left;
    position: absolute;
    min-width: 160px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 0px #adadad86;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.dropdown-content.open {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
}

.dropdown-content a {
    color: rgb(78, 77, 77);
    font-size: 16px;
    border-bottom: 1px solid hsl(0, 0%, 0%, 0.1);
    padding: 8px;
    margin: 0px 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    height: 20px;

}
#drikkeLink{
    border-bottom: none;
}

.nav-bar-item-menu{
    margin: -22px 0 0 360px;
    height: 40px;
    width: 140px;
    position: absolute;
}


.menu-text-arrow {
    width: 70px;
    transition: color 300ms ease;
}
.menu-text-arrow svg,
.sidebar-text-arrow svg{
    margin: -5px -3px;
    transition: fill 300ms ease, transform 300ms ease;
}

.menu-text-arrow svg.rotate{
    transform: rotate(180deg);
}

.sidebar-button {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    display: none;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.topLine, .middleLine, .bottomLine {
width: 35px;
height: 3px;
border-radius: 2px;
background-color: #b32e31;
margin: 3.5px 0;
transition: transform 0.15s;
}

.change .topLine {
    transform: translate(0, 10px) rotate(45deg);
}
  
.change .middleLine {
    opacity: 0;
}

.change .bottomLine {
    transform: translate(0, -10px) rotate(-45deg);
}

/* ↑ Code for the nav-bar on top of website ↑ */

.order-button {
    background-color: #b32e31; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    transition: all 0.3s ease;
    border: 3px solid #b32e31;
    box-shadow:  2px 8px 20px -8px #b32e31;
    margin-right: 10px;
}

.order-button:hover {
    scale: 105%;
    background-color: transparent;
    color: rgb(78, 77, 77)
}

.small-logo {
    height: 50px;
    width: 55px;
    margin: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: scale 300ms ease;
}

.small-logo:hover {
    scale: 110%;
}

.logo-overlay img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.menu-header {
    color: rgb(78, 77, 77);
    margin: 30px 0 -5px 0;
    padding: 35px 0 35px 0;
    font-family: sans-serif;
    font-size: bold;
    text-align: center;
    position: relative;
    z-index: 20;
}

.main-logo  {
    width: auto;
    height: auto;
}

.main-logo img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-button-2 {
    background-color: #b32e31;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 150px;
    margin: 0;
    padding: 20px;
    border-radius: 35px;
    transition: all 0.3s ease;
    border: 3px solid #b32e31;
    box-shadow:  2px 8px 20px -6px #b32e31;
}

.order-button-link {
    border-radius: 35px;
    text-decoration: none;
    margin-right: 15px;
}
.order-button-2-link {
    border-radius: 35px;
    text-decoration: none;
}

.order-button-2:hover {
    scale: 105%;
    background-color: transparent;
    color: rgb(78, 77, 77)
}

.p-text {
    color: rgb(78, 77, 77);
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 60px;
}

.h1-text {
    color: rgb(78, 77, 77);
    text-align: center;
}
.img-mian-margin {
    background-color: #e9bb8638;
    display: block;
    width: 100%;
    height: 65px;
    
}

.img-main-box {
    background-color: #e9bb8638;
    height: auto;
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
}

.img-box-description {
    width:  800px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 100px 0 0 30px;
}

.img-box-right {
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-box-img1 img {
    height: 375px;
    width: 500px;
    object-fit: cover;
    border-radius: 30px;
    margin: 0 0 0 30px;
    box-shadow: 0 0 6px #888888;
}

.img-box-img2 img {
    height: 375px;
    width: 500px;
    object-fit: cover;
    border-radius: 30px;
    margin: 187.5px 0 0 30px;
    box-shadow: 0 0 6px #888888;
}

.img-box-img3 img{
    height: 375px;
    width: 500px;
    object-fit: cover;
    border-radius: 30px;
    margin: -160px 0 0 30px;
    box-shadow: 0 0 6px #888888;
}

.img-box-img4 img{
    height: 375px;
    width: 500px;
    object-fit: cover;
    border-radius: 30px;
    margin: 30px 0 0 30px;
    box-shadow: 0 0 6px #888888;
}


.location-box-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #e9bb8638;
}

.location-box {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 30px;
    padding-top: 30px;
    overflow: hidden;
    background-color: snow;
    position: relative; 
    overflow: hidden;
}

.location-box-left {
    height: 600px;
    width: 500px;
    overflow: hidden;
    box-shadow: 0 0 6px #888888;
    border-radius: 30px;
}

.location-box-middle {
    height: 600px;
    width: 500px;
    overflow: hidden;
    margin: 0 60px 0 30px;
    box-shadow: 0 0 6px #888888;
    border-radius: 30px;
}

.location-box-right {
    text-align: center middle;
    width: 800px;
    overflow: hidden;
}


.location-box-left img,
.location-box-middle img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;

}

/* ↓ Code for the menu-container ↓ */

.menu-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.container {
    width: 1880px;
    height: 20;
    justify-content: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;  
    overflow: hidden;
    padding: 0 10px 0 10px;
}

.pizza-item {
    background: #e9bb8638;
    color: gray;
    display: flex;
    width: 600px;
    height: 125px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 6px 6px -6px #adadad86;
    align-items: center;
    transform: scale(1.8);
}

.pizza-title {
    color: rgb(78, 77, 77);
    margin: 5px 0 0 5px;
    padding: 0;
    font-size: 16px;
    font-family: 'PeachCake', sans-serif;
    font-weight: 600;
    justify-self: left;
    overflow: hidden;
}

.desciption {
    color: rgb(78, 77, 77);
    height: 50px;
    margin: 5px 0 0 5px;
    padding: 0;
    font-size: 12px;
    font-family: sans-serif;
    justify-content: left;
    overflow: hidden;
}

.allergy {
    color: rgb(78, 77, 77);
    height: 25px;
    margin: 5px 0 5px 5px;
    padding: 0;
    font-size: 12px;
    font-style: italic;
    justify-content: left;
    overflow: hidden;
}

.menu-box-right {
    width: 140px;
    height: 100px;
    
}

.menu-box-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-icon {
    scale: 4%;
    height: 5px;
    width: 5px;
    margin: 4px 0 0 0;
    padding-left: 5px;
    align-items: middle;
}

.menu-box {
    margin-bottom: 5px;
}

.menu-item {
    color: #b32e31;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    overflow: hidden;
}

.menu-item-text {
    color: rgb(78, 77, 77);
    height: 30px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    overflow: hidden;
}


.pizza-left, .pizza-right {
    display: flex;
    flex-direction: column;
}

.pizza-left {
    flex: 1;
}

.pizza-right {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.pizza-right img {
    width: 100%;
    height: auto;
}

.pizza-left-top {
    display: flex;
}

.price-list {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.price {
    color: #b32e31;
}
/* ↑ Code for the menu-container ↑ */

/* ↓ Code for order section ↓ */

.order-box-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
}

.order-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    margin: 15px;
    box-shadow: 0 0 8px hsl(0, 0%, 80%);
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow 300ms ease;
}
.order-box:nth-child(1):hover,
.order-box:nth-child(2):hover {
    box-shadow: 0 0 20px hsl(0, 0%, 70%);
}

.order-box-map-box,
.order-box-map-box-foodora {
    height: 300px;
    width: 100%;
    background-color: #68c0e2;
    text-decoration: none;
}

.order-box-map {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.order-box-description {
    min-height: 100px;
    color: rgb(78, 77, 77);
    height: 50px;
    margin: 30px 10px 0 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: block;
}

.order-box-phone {
    height: 50px;
    margin-top: -65px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.order-box-phone-number {
    color: rgb(78, 77, 77);
    margin: 10px 30px 10px 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #B32E31;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.order-box-phone-number a {
    color: inherit;
    text-decoration: none;
}

.order-box-map-box img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    scale: 0.7;
    text-decoration: none;
}
.order-box-map-box-foodora img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    text-decoration: none;
}



/* ↑ Code for order section ↑ */

/* ↓ Code for opening hours section ↓ */

.opening-hours-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px 10px 50px 10px;
    
}

.opening-hours-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 325px;
    background-color: #e9bb8638;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.opening-hours-list {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

.opening-hours-list li {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid hsl(0, 0%, 0%, 0.3);
}

.opening-hours-list li:nth-child(1) {
    margin-top: 0;
}

.opening-hours-list li:nth-child(7) {
    border-bottom: none;
}

.opening-hours-list .day {
    font-weight: bold;
    color: hsl(0, 0%, 35%);
}

.opening-hours-list .hours {
    color: hsl(0, 0%, 35%);;
    font-weight: bold;
    text-align: right;
}

.nb {
    color: #B32E31;
}

#fb-link {
    text-align: center;
    cursor: pointer;
}

#opening-hours-text {
    margin-bottom: 30px;
}

/* ↑ Code for opening hours section ↑ */

/* ↓ Code for footer section ↓ */

.footer-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer {
    max-width: 1900px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid hsl(0, 0%, 80%);
    height: auto;
}

.footer-list {
    color: hsl(0, 0%, 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 24px;
    font-weight: 600;
    height: 100%;
    width: auto;
    padding: 0;
}
.footer-title {
    padding-bottom: 10px;
}

.footer-list li a {
    color: rgb(78, 77, 77);
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    font-size: 18px;
    font-weight: 100;
    padding-top: 5px;
    transition: color 300ms ease;
    cursor: pointer;
    text-decoration: none;
}

.footer-list li a:hover {
    color: #B32E31;
}
.credit {
    height: 50px;
    width: 80%;
    font-size: 14px;
    font-weight: bold;
    color: rgb(78, 77, 77);
    text-align: center;
}

/* ↑ Code for footer section ↑ */

/* ↓ when screen gets smaler f. eks mobile ↓ */

@media screen and (max-width: 1920px) {
    .container {
        width: 1250px;
    }
}

@media screen and (max-width: 1880px) {
    
    .img-main-box {
        justify-content: center;
        justify-items: center;
        padding-top: 10px;
    }

    .img-box-right {
        display: flex;
        flex-direction: column;
        width:  auto;
    }

    .img-box-img1 img {
    margin: 30px 0 0 30px;
    }

    .img-box-img2 img {
        margin:  30px 50px 0 30px;
        }

    .img-box-img3 img {
    margin:  30px 0 0 30px;
    }
    .img-box-img4 img {
    margin:  30px 0 0 30px;
    }

}

@media screen and (max-width: 1820px) {

    .location-box {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .location-box-middle {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1500px) {

    .order-box-main {
        gap: 0;
    }

}

@media screen and (max-width: 1000px) {

    .container {
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 1290px) {
.container {
    width: 600px;
}

    .order-button-2 {
        width: 400px;
        padding: 10px;
        border-radius: 25px;
    }

    .img-main-box {
        flex-wrap: wrap;
    }

    .img-box-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-box-description {
        margin-left: 0;
        margin-top: 0;
        padding: 0 10px 50px 10px;
    }

    .img-box-img1 img,
    .img-box-img2 img,
    .img-box-img3 img,
    .img-box-img4 img {
        margin: 30px 0 0 0;
    }

    .order-box-main {
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width: 1150px) {

    .location-box {
        flex-direction: column-reverse;
        align-items: center;
    }
    .location-box-left,
    .location-box-middle {
        margin: 0;
        margin-top: 30px;
    }

    .container {
        width: 500px;
    }

}

@media screen and (max-width: 900px) {

    .location-box {
        flex-direction: row-reverse;
    }

    .location-box-right {
        margin: 20px;
    }
}

@media screen and (max-width: 750px) {

    .img-mian-margin {
        display: none;
    }

    .main-logo {
        margin-top: 70px;
    }

    .order-button-2-link {
        margin-top: -30px;
    }

    .p-text:nth-child(2) {
        margin-top: 0;
    }

    .order-button {
        display: none;
    }

    .nav-box {
        display: none;
    }

    .sidebar-button {
        display: flex;
        margin-left: auto;
    }

    .sidebar {
        opacity: 0;
        background-color: white;
        position: fixed;
        margin-top: 60px;
        display: flex;
        z-index: 40;
        flex-direction: column;
        overflow: hidden;
        width: 100vw;
        box-shadow: 0 6px 6px -6px #adadad86;
        height: auto;
        top: -280px;
    }

    .sidebar-item, .sidebar-text-arrow {
        padding: 15px;
        margin-left: 25px;
        margin-right: 25px;
        border-bottom: 1px solid hsl(0, 0%, 0%, 0.1);
        transition: 300ms ease;
    }

    .sidebar-text-arrow {
        transition: color 300ms ease;
        border-bottom: none;
    }

    .sidebar-text-arrow svg.rotate {
        transform: rotate(180deg);
    }

    .sidebar-dropdown-content {
        opacity: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        text-align: left;
        overflow: hidden;
        height: 0;
        font-size: large;
    }
    
    .sidebar-dropdown-content a {
        color: #4e4d4d;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        transition: 300ms ease;
        border-bottom: 1px solid hsl(0, 0%, 0%, 0.1);
        padding: 15px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .sidebar-dropdown-content a:nth-child(1) {
        border-top: 1px solid hsl(0, 0%, 0%, 0.1);
    }
    .sidebar-dropdown-content a:nth-child(6) {
        border-bottom: none;
    }

    #fb-link {
        margin-top: 0;
    }
    
}
    

@media screen and (max-width: 520px) {
  
    .img-main-box {
        padding-left: 15px;
        padding-right: 15px;
    }

    .order-button-2 {
        width: 75vW;
    }

    .img-box-img1 img,
    .img-box-img2 img,
    .img-box-img3 img,
    .img-box-img4 img {
        width: 100%;
        height: auto;
        margin: -5px 0 15px 0;
    }

    .location-box {
        padding: 0 0 5px 0;
    }

    .location-box-left,
    .location-box-middle {
        margin: 15px 15px 0 15px;
        padding: 0;
    }

    .location-box-right {
        margin-top: 10px;
    }

    .order-box {
        margin-top: 5px;
     }

     .order-box-phone {
        margin-top: -50px;
    }
}


@media screen and (max-width: 500px) {
    .pizza-item {
        margin: 10px 10px 0 10px;
        padding: 5px;
    }

    .menu-header {
        margin: 0 0 -15px 0;
    }

    .main-logo {
        margin-left: 0;
        margin-right: 0;
    }

    .container {
        width: 100%;
        justify-content: center;
        gap: 0;
    }

    .menu-item {
        margin-top: -5px;
    }
}

@media screen and (max-width: 370px) {
    .pizza-item {
        height: auto;
    }

    .desciption {
        height: auto;
    }
}
/* ↑ when screen gets smaler f. eks mobile ↑ */


/* ↓ Imported Fonts ↓ */

@font-face {
    font-family: 'PeachCake';
    src: url('fonts/peach_cake/Peach\ Cake.otf') format('woff2'),
         url('fonts/peach_cake/Peach\ Cake.otf') format('woff'),
}

@font-face {
    font-family: 'CrunchChips';
    src: url('fonts/crunch_chips/Crunch\ Chips.otf') format('woff2'),
         url('fonts/crunch_chips/Crunch\ Chips.otf') format('woff'),
}

@font-face {
    font-family: 'UbuntuTitle';
    src: url('fonts/ubuntu_title/ubuntu-title-fr-1.1.ttf') format('woff2'),
         url('fonts/ubuntu_title/ubuntu-title-fr-1.1.ttf') format('woff'),
}

/* ↑ Imported Fonts ↑ */

.lazy,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}


/* ↓ Initial states for animation.js ↓ */

.main-logo,
.order-button-2-link,
.img-box-img1,
.img-box-img2,
.img-box-img3,
.img-box-img4,
#main-logo-description, 

.h1-text,
#location-box-description,
.location-box-middle,
.location-box-left,

.menu-header,
.pizza-item,

.order-box,

.opening-hours-box,
.nb,
#opening-hours-text,
#fb-link
{
    opacity: var(--initial-opacity);
}

.order-button-2-link,
#main-logo-description,
.menu-header,

.pizza-item,
.opening-hours-box,

.order-box,
#location-box-description,

.nb,
#opening-hours-text,
#fb-link
{
    transform: scale(var(--initial-scale));
}


@media screen and (min-width: 1850px) {
    .img-box-img1 {
        transform: translateY(-700px);
    }
    .img-box-img2 {
        transform: translateX(600px);
    }
    .img-box-img3 {
        transform: translateY(700px);
    }
    .img-box-img4 {
        transform: translateX(600px);
    }
}

@media screen and (min-width: 1300px) and (max-width: 1849px) {
    .main-logo {
        transform: scale(0.8);
    }
    .order-button-2-link {
        transform: scale(var(--initial-scale));
    }
    .img-box-img1 {
        transform: translateX(600px);
    }
    .img-box-img2 {
        transform: translateX(600px);
    }
    .img-box-img3 {
        transform: translateX(600px);
    }
    .img-box-img4 {
        transform: translateX(600px);
    }
    
}
@media screen and (max-width: 1290px) {
    .img-box-img1,
    .img-box-img2,
    .img-box-img3,
    .img-box-img4,
    .h1-text,
    .location-box-middle,
    .location-box-left
    {
        transform: scale(var(--initial-scale));
    }
    .order-box {
        transform: translateY(none);
    }
}

@media screen and (min-width: 1300px) {
    .order-box {
        transform: translateY(450px);
    }
    .location-box-left,
    .location-box-middle {
        transform: translateX(-1100px);
    }
}


.main-logo {
    transform: scale(0.8);
}
.pizza-item {
    transform: translateY(25px);
}

