<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <!-- <link rel="stylesheet" href="email-template.css"> -->
    <style>
        .main-page-wraper{
            display: flex;
            justify-content: center;
        }
        .main-page{
            width: 600px;
            height: 1000px;
            background-color: rgba(0, 0, 255, 0.295);
            font-size: 30px;
        }
    </style>
</head>
<body>
    <section class="main-page-wraper">
        <div class="main-page">{{text2}} - {{text}}</div>
    </section>
</body>
</html>